::ng-deep .no-border {


    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
        border-color: transparent !important;
        border-width: 0 !important;
    }

    /* Remove o fundo padrão */
    .mat-mdc-text-field-wrapper {
        background-color: transparent !important;
        box-shadow: none !important;
        padding: 0 !important;
    }


    .mat-mdc-form-field-infix {
        border-top: 0 !important;
        padding-top: 12px !important;
        /* Espaço para o label subir */
        padding-bottom: 8px !important;
        min-height: 40px !important;
        /* Altura mínima para não cortar o label */
    }

 
    .mat-mdc-input-element {
        margin-top: -4px !important;
       
    }

    
    .mat-mdc-form-field-subscript-wrapper {
        display: none !important;
    }
}