/* Ajuste de ícones dentro dos botões */
.icon-sm {
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
}

/* Animação suave para o menu mobile */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-out forwards;
}

/* Customização do Menu Dropdown do Material para ficar arredondado */
::ng-deep .mat-mdc-menu-panel {
    border-radius: 16px !important;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1) !important;
}

::ng-deep .mat-mdc-menu-item {
    color: #475569;

    /* Slate 600 */
    &:hover {
        background-color: #f0fdfa !important;
        /* Teal 50 */
        color: #0f766e !important;
        /* Teal 700 */
    }
}