/* =========================================================
   CSS NUCLEAR: REMOVE BORDAS DO MATERIAL DESIGN
   ========================================================= */
::ng-deep .no-border {

  /* Torna as linhas de borda transparentes/invisíveis */
  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: transparent !important;
    border-width: 0 !important;
  }

  /* Remove fundos e sombras padrão */
  .mat-mdc-text-field-wrapper {
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
  }

  /* Ajuste de espaçamento para o Label não cortar */
  .mat-mdc-form-field-infix {
    border-top: 0 !important;
    padding-top: 12px !important;
    padding-bottom: 8px !important;
    min-height: 40px !important;
  }

  /* Ajuste da posição do input */
  .mat-mdc-input-element {
    margin-top: -4px !important;
  }

  /* Esconde a linha inferior reservada para erros (usamos mat-error flutuante ou customizado se precisar) */
  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}